<h1 class="display-4 fw-bolder text-center mb-5">LOGIN</h1>
<form [formGroup]="formLogin" (ngSubmit)="submit()">
    <p>
        <label for="exampleInputEmail1" class="form-label">Nombre</label>
        <input type="text" formControlName="nombre" class="form-control"  required />

        @if(this.formLogin.get('nombre')?.touched){ 
            @if(this.formLogin.get('nombre')?.errors?.['required']) {
            <span style="color: red;">(El nombre no puede quedar vacío)</span>
            } @if(this.formLogin.get('nombre')?.errors?.['minlength']) {
            <span style="color: red;">(Debe tener como mínimo 5 caracteres)</span>
            }
        }
    </p>
    <p>
        <label for="exampleInputEmail1" class="form-label">Contraseña</label>
        <input type="password" formControlName="contrasenya" class="form-control" required />

        @if(this.formLogin.get('contrasenya')?.touched){ 

            @if(this.formLogin.get('contrasenya')?.errors?.['required']) {
            <span style="color: red;">La contraseña no puede quedar vacía</span>
            } @if(this.formLogin.get('contrasenya')?.errors?.['maxlength']) {
            <span style="color: red;">Debe tener como máximo 10 caracteres</span>
            }
        }
    </p>
    <p>
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" formControlName="email" class="form-control" required />

        @if(this.formLogin.get('email')?.touched){ 

            @if(this.formLogin.get('email')?.errors?.['required']) {
            <span style="color: red;">El correo no puede quedar vacio</span>
            } @if(this.formLogin.get('email')?.errors?.['pattern']) {
            <span style="color: red;">Debes poner un email</span>
            }
        }
    </p>
    <button type="submit" class="btn btn-secondary">Confirmar</button>
</form>

