<h1 class="display-4 fw-bolder text-center mb-5">CATÀLEG DE PRODUCTES</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  @for(art of articulos; track art){
    <div class="col mb-5">
      <div class="card h-100">
        <!-- Sale badge-->
        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
        <!-- Product image-->
        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
        <!-- Product details-->
        <div class="card-body p-4">
          <div class="text-center">
            <h2>{{art.nom}}</h2>
            <p>{{art.descripcio}}</p>
            <h3><cite>{{art.preu}}€</cite></h3>
          </div>
          <div class="d-flex justify-content-center small text-warning mb-2">
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
          </div>
          <span class="text-muted text-decoration-line-through">{{art.preu}}</span>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <div class="text-center">
            <a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  }
</div>
