<p>compo3 works!</p>

<div>
   <!--Esto es html normal y corriente dentro de app.component.html-->
  <h3>Esto es la app.component.html</h3>
  <div>Hola</div>
  <p>{{title}}</p> <!--{{}} Se visualiza lo que hay en el ts-->
  <p>{{name}}</p>
  <p>{{age}}</p>
  <p>{{numbers}}</p>
  <p>{{numbers[2]}}</p>
  <p>{{resultatFinal()}}</p>
  <form>
    <label>Dame tu nombre</label>:
    <input type="text" [value]="name">
    <button>Enviar</button>
  </form> <br>
  <p>{{contador}}</p>

  <form>
    <button type="submit">Crear o sumar cookie</button>
  </form>
</div>