<main style="padding: 250px;" class="flex-fill">
    <header class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Benvingut!</h1>
                <p class="lead fw-normal text-white-50 mb-0">Venta de components electrònics</p>
                <p class="lead fw-normal text-white-50 mt-3">
                    <strong>Visites: {{ contadorVisitas }}</strong>
                </p>
            </div>
        </div>
    </header>
</main>

<footer class="py-5">
    <div class="container">
        <p class="text-center text-white">Izan Alejo Pérez | DAW 2 | Frameworks de Desenvolupament Web</p>
    </div>
</footer>